section#home {
    .hero {
        &__left{
            z-index: 2;
        }
        &__right {
            z-index: 1;
            img {
                width: 100%;
            }
        }
    }
    .apply {
        img {
            @media screen and (max-width: 768px) {
                width: 50%;
            }
            @media screen and (max-width: 576px) {
                width: 75%;
            }
        }
    }
    .event_list .event_banner_wrapper {
        max-width: 800px;

        img {
            border-radius: 10px;
            box-shadow: 0 0 30px rgba($color: $color-primary, $alpha: 0.2);
            transition: all .2s ease-in-out;

            &:hover {
                transform: translateY(-1.5%);
                box-shadow: 0 0 30px rgba($color: $color-primary, $alpha: 0.3);
            }
        }
    }
    .social {
        .slick-track {
            display: flex !important;

            .slick-slide {
                height: auto;

                .social__link {
                    height: 9rem;
                    display: block;
                    box-shadow: 5px 5px 20px rgba($color: $color-primary, $alpha: .3);
                    border-radius: 5px;
                    overflow: hidden;
        
                    img {
                       height: 100%;
                       width: 100%;
                    }
                }
            }
        }
    }
}