<div 
    id="flush-collapse{{ reg_member.id }}" 
    class="accordion-collapse collapse"
    aria-labelledby="flush-heading{{ reg_member.id }}" 
    data-bs-parent="#member_list"
>
    <div class="accordion-body">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">ID No</th>
                        <th class="text-center">Image</th>
                        <th>Details</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for submember in reg_member.submembers.all %}
                    <tr class="player">
                        <td class="align-middle text-center">{{ submember.id }}</td>
                        <td class="member__pic text-center">
                            <img 
                                src="{{ submember.member.picture.url }}" 
                                alt="{{ submember.member.name|title }} Picture" 
                                class="img-fluid"
                            >
                        </td>
                        <td class="align-middle">
                            <p>
                                {{ submember.member.name|title }}
                            </p>
                            <p>
                                {{ submember.team.name|title }}
                            </p>
                            <p>
                                <span class="badge rounded-pill  bg-light text-dark px-3 py-2">
                                    {{ submember.category.name }}
                                </span>

                                <span class="badge rounded-pill  bg-light text-dark px-3 py-2">
                                    {{ submember.sub_category.title }}
                                </span>
                            </p>
                        </td>
                        <td class="text-center align-middle">
                            <div class="btn-group">
                                <a 
                                    href="{% url 'home:downloadID' event.id submember.id %}"
                                    class="btn btn-outline-primary"
                                    download="id__{{ submember.id|stringformat:'04d' }}.jpg"
                                >
                                    <i class="fa-light fa-download"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
