@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #666666;
  text-rendering: optimizeLegibility;
}

a {
  color: #6C63FF;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover {
  color: #1f2f98;
  -webkit-transform: translateY(-3%) scale(1.04);
      -ms-transform: translateY(-3%) scale(1.04);
          transform: translateY(-3%) scale(1.04);
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #222222;
}

h1 {
  margin-top: 0;
  word-spacing: 4px;
}

h2 {
  word-spacing: 2px;
  /*&::after {
      content: "";
      display: block;
      height: 2px;
      width: 100px;
      background-color: $color-primary;
      margin: 0 auto;
      margin-top: 30px;
  }*/
}

h3 {
  font-weight: 400;
  font-size: 110%;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
nav svg.logo {
  height: 34px;
  fill: #6C63FF;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav svg.logo:hover {
  fill: #1f2f98;
}
nav .nav-link {
  position: relative;
}
nav .nav-link::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 5%;
  bottom: 5%;
  background: -webkit-gradient(linear, left top, right bottom, from(#6C63FF), to(#1f2f98));
  background: -o-linear-gradient(left top, #6C63FF, #1f2f98);
  background: linear-gradient(to right bottom, #6C63FF, #1f2f98);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav .nav-link:hover::after {
  width: 90%;
}
nav .nav-link.active::after {
  width: 90%;
}
nav .navbar-toggler {
  height: 60px;
  width: 62px;
  position: relative;
  border: none;
  outline: none;
}
nav .navbar-toggler:active, nav .navbar-toggler:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
nav .navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}
nav .navbar-toggler[aria-expanded=true] .navbar-toggler-icon::after {
  top: 44%;
  width: 30px;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
nav .navbar-toggler[aria-expanded=true] .navbar-toggler-icon::before {
  display: none;
}
nav .navbar-toggler .navbar-toggler-icon {
  position: absolute;
  top: 50%;
  right: 20%;
  width: 30px;
  height: 2px;
  background: #1f2f98;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  border: none;
}
nav .navbar-toggler .navbar-toggler-icon::before, nav .navbar-toggler .navbar-toggler-icon::after {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  right: 0;
  height: 2px;
  background: #1f2f98;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
nav .navbar-toggler .navbar-toggler-icon::before {
  top: -500%;
  width: 36px;
}
nav .navbar-toggler .navbar-toggler-icon::after {
  bottom: -500%;
  width: 24px;
}

footer a {
  cursor: pointer;
  font-size: 1.2rem;
}

.btn {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.btn:hover {
  -webkit-transform: translateY(-3%) scale(1.04);
      -ms-transform: translateY(-3%) scale(1.04);
          transform: translateY(-3%) scale(1.04);
}
.btn.btn-primary {
  border: none;
  background: -webkit-gradient(linear, left top, right bottom, from(#6C63FF), to(#1f2f98));
  background: -o-linear-gradient(left top, #6C63FF, #1f2f98);
  background: linear-gradient(to right bottom, #6C63FF, #1f2f98);
  -webkit-box-shadow: 5px 5px 20px rgba(108, 99, 255, 0.3);
          box-shadow: 5px 5px 20px rgba(108, 99, 255, 0.3);
  color: white;
}
.btn.btn-primary:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(108, 99, 255, 0.5);
          box-shadow: 5px 5px 20px rgba(108, 99, 255, 0.5);
}
.btn.btn-danger:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(220, 53, 69, 0.5);
          box-shadow: 5px 5px 20px rgba(220, 53, 69, 0.5);
}
.btn.btn-outline-primary {
  border: 1px solid #6C63FF;
  color: #6C63FF;
}
.btn.btn-outline-primary:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(108, 99, 255, 0.5);
          box-shadow: 5px 5px 20px rgba(108, 99, 255, 0.5);
  background: -webkit-gradient(linear, left top, right bottom, from(#6C63FF), to(#1f2f98));
  background: -o-linear-gradient(left top, #6C63FF, #1f2f98);
  background: linear-gradient(to right bottom, #6C63FF, #1f2f98);
  color: white;
}
.btn.btn-outline-danger:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(220, 53, 69, 0.5);
          box-shadow: 5px 5px 20px rgba(220, 53, 69, 0.5);
}
.btn.btn-outline-success:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(25, 135, 84, 0.5);
          box-shadow: 5px 5px 20px rgba(25, 135, 84, 0.5);
}

section#home .hero__left {
  z-index: 2;
}
section#home .hero__right {
  z-index: 1;
}
section#home .hero__right img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  section#home .apply img {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  section#home .apply img {
    width: 75%;
  }
}
section#home .event_list .event_banner_wrapper {
  max-width: 800px;
}
section#home .event_list .event_banner_wrapper img {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 30px rgba(108, 99, 255, 0.2);
          box-shadow: 0 0 30px rgba(108, 99, 255, 0.2);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
section#home .event_list .event_banner_wrapper img:hover {
  -webkit-transform: translateY(-1.5%);
      -ms-transform: translateY(-1.5%);
          transform: translateY(-1.5%);
  -webkit-box-shadow: 0 0 30px rgba(108, 99, 255, 0.3);
          box-shadow: 0 0 30px rgba(108, 99, 255, 0.3);
}
section#home .social .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
section#home .social .slick-track .slick-slide {
  height: auto;
}
section#home .social .slick-track .slick-slide .social__link {
  height: 9rem;
  display: block;
  -webkit-box-shadow: 5px 5px 20px rgba(108, 99, 255, 0.3);
          box-shadow: 5px 5px 20px rgba(108, 99, 255, 0.3);
  border-radius: 5px;
  overflow: hidden;
}
section#home .social .slick-track .slick-slide .social__link img {
  height: 100%;
  width: 100%;
}

section#events {
  /*.header {
      min-height: 300px;
      background: url('../images/header_bg.jpg'), rgba($color-black, .7);
      background-position: center center;
      background-size: cover;
      background-blend-mode: multiply;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 55% 85%, 50% 100%, 45% 85%, 0 85%);

      h2, p {
          color: white;
      }
  }*/
}
section#events .event_list .event_banner_wrapper {
  max-width: 800px;
}
section#events .event_list .event_banner_wrapper img {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 30px rgba(108, 99, 255, 0.2);
          box-shadow: 0 0 30px rgba(108, 99, 255, 0.2);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
section#events .event_list .event_banner_wrapper img:hover {
  -webkit-transform: translateY(-1.5%);
      -ms-transform: translateY(-1.5%);
          transform: translateY(-1.5%);
  -webkit-box-shadow: 0 0 30px rgba(108, 99, 255, 0.3);
          box-shadow: 0 0 30px rgba(108, 99, 255, 0.3);
}
section#events .header .header__right .mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  /*position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);*/
}
section#events .header .header__right .mouse_scroll .m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #666666;
  border-bottom: 2px solid #666666;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}
section#events .header .header__right .mouse_scroll .unu {
  margin-top: 1px;
}
section#events .header .header__right .mouse_scroll .unu, section#events .header .header__right .mouse_scroll .doi, section#events .header .header__right .mouse_scroll .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}
section#events .header .header__right .mouse_scroll .unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: alternate;
          animation-delay: alternate;
}
section#events .header .header__right .mouse_scroll .doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.2s;
  animation-direction: alternate;
  margin-top: -6px;
}
section#events .header .header__right .mouse_scroll .trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.3s;
  animation-direction: alternate;
  margin-top: -6px;
}
section#events .header .header__right .mouse_scroll .mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  border: 2px solid #666666;
  top: 170px;
}
section#events .header .header__right .mouse_scroll .wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #666666;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #666666;
  border-radius: 8px;
}
section#events .header .header__right .mouse_scroll .wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

section#contact .container {
  -webkit-box-shadow: 0 0 20px rgba(31, 47, 152, 0.16);
          box-shadow: 0 0 20px rgba(31, 47, 152, 0.16);
  border-radius: 20px;
}
section#contact .container form input, section#contact .container form textarea {
  border-radius: 20px;
  font-size: 0.9rem;
  border: none;
  background: rgba(31, 47, 152, 0.1);
}
section#contact .container form input:focus, section#contact .container form textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
section#contact .container form button {
  border-radius: 20px;
  font-weight: 600;
}
section#contact .container .info a {
  text-decoration: none;
}

section#about .details .col-sm-5 img {
  width: 200px;
  height: 200px;
}
section#about .social a i {
  font-size: 1.2rem;
}
section#about .developer .card {
  border: none;
  -webkit-box-shadow: 0 0 30px rgba(108, 99, 255, 0.3);
          box-shadow: 0 0 30px rgba(108, 99, 255, 0.3);
}

section#event .row .card {
  border: none;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 30px rgba(108, 99, 255, 0.2);
          box-shadow: 0 0 30px rgba(108, 99, 255, 0.2);
}
section#event .row .card img {
  border-radius: 16px;
}
section#event .row .card .display-6 {
  font-size: 1.5rem;
}
section#event .row .card h5 {
  color: #1f2f98;
}
section#event .row .card h5 i {
  text-align: center;
  width: 36px;
  color: #F50057;
  font-size: 1.4rem;
}
section#event .row .card h5 span {
  color: #6C63FF;
  opacity: 0.7;
}
section#event .row.options .card h5 {
  color: #666666;
}
section#event .row.options .card h5 span {
  color: #F50057;
  opacity: 0.9;
}

section#apply select,
section#update select {
  display: block;
  border: none;
  border-bottom: 1px solid rgba(108, 99, 255, 0.6);
  font-size: 0.9rem;
  -webkit-box-shadow: 0 0 20px rgba(108, 99, 255, 0.16);
          box-shadow: 0 0 20px rgba(108, 99, 255, 0.16);
  border-radius: 5px;
}
section#apply select:focus,
section#update select:focus {
  outline: none;
}
section#apply .teamSelect,
section#update .teamSelect {
  -webkit-box-shadow: 5px 5px 20px rgba(31, 47, 152, 0.2);
          box-shadow: 5px 5px 20px rgba(31, 47, 152, 0.2);
  border-radius: 10px;
}
section#apply .teamSelect label,
section#update .teamSelect label {
  font-size: 1.2rem;
}
section#apply .teamSelect select,
section#update .teamSelect select {
  max-width: 350px;
  width: 100%;
}
section#apply .playerSelect .player,
section#update .playerSelect .player {
  border: 2px solid rgba(187, 187, 187, 0.4);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 20px rgba(31, 47, 152, 0.2);
          box-shadow: 5px 5px 20px rgba(31, 47, 152, 0.2);
}
section#apply .playerSelect .player.checked,
section#update .playerSelect .player.checked {
  border: 2px solid #6C63FF;
  -webkit-box-shadow: 5px 5px 20px rgba(31, 47, 152, 0.4);
          box-shadow: 5px 5px 20px rgba(31, 47, 152, 0.4);
}
section#apply .playerSelect .player__info .checkbox_container,
section#update .playerSelect .player__info .checkbox_container {
  display: block;
  position: relative;
  padding-left: 2.4rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
section#apply .playerSelect .player__info .checkbox_container input,
section#update .playerSelect .player__info .checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
section#apply .playerSelect .player__info .checkbox_container input:checked ~ .checkmark,
section#update .playerSelect .player__info .checkbox_container input:checked ~ .checkmark {
  background-color: #6C63FF;
}
section#apply .playerSelect .player__info .checkbox_container input:checked ~ .checkmark::after,
section#update .playerSelect .player__info .checkbox_container input:checked ~ .checkmark::after {
  display: block;
}
section#apply .playerSelect .player__info .checkbox_container .checkmark,
section#update .playerSelect .player__info .checkbox_container .checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
section#apply .playerSelect .player__info .checkbox_container .checkmark::after,
section#update .playerSelect .player__info .checkbox_container .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
section#apply .playerSelect .player__pic,
section#update .playerSelect .player__pic {
  position: relative;
}
section#apply .playerSelect .player__pic img,
section#update .playerSelect .player__pic img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
section#apply .playerSelect select,
section#update .playerSelect select {
  width: 100%;
}/*# sourceMappingURL=main.css.map */