<div class="social d-flex flex-row justify-content-center">

    <a href="https://youtube.com/@BangladeshTaekwondoFederation" class="p-3">
        <i class="fa-brands fa-youtube"></i>
    </a>
    
    <a href="https://www.facebook.com/bantkdf/" class="p-3">
        <i class="fa-brands fa-facebook-f"></i>
    </a>

    <a href="https://wa.me/+880" class="p-3">
        <i class="fa-brands fa-whatsapp"></i>
    </a>

    <a href="tel:+880" class="p-3">
        <i class="fa-light fa-phone"></i>
    </a>

    <a href="mailto:bantkf@gmail.com" class="p-3">
        <i class="fa-light fa-envelope"></i>
    </a>

</div>
<div class="credit">
    <p class="text-center">
        All Rights Reserved &copy; 2023 &nbsp; || &nbsp;
        Crafted By: <a href="https://zayedabdullah.com" target="_blank"> Xayed</a>
    </p>
</div>
