<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">TaekwonSoftBD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'account:sample' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:sample' %}">Events</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if user.is_authenticated %}
                        <li>
                            {% if user.is_tl %}
                            <a class="dropdown-item" href="{% url 'team_leader:dashboard' %}">Dashboard</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'account:sample' %}">Logout</a>
                            {% endif %}
                        </li>
                        <li><a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'account:login' %}">Login</a></li>
                        <li><a class="dropdown-item" href="{% url 'account:register' %}">Register</a></li>
                        <li><a class="dropdown-item" href="{% url 'account:judge_register' %}">Register(Judge)</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>