{% extends "dashboard.html" %}
{% load static %}

{% block main_content %}
<style>
    #prof_pic {
        height: 180px;
        width: 180px;
        border-radius: 50%;
    }
</style>
<div class="container py-5">
    <div class="text-center">
        <img id="prof_pic" src="{{ pic_url }}" alt="">
    </div>
    <h2 class="display-5 text-center pt-3 pb-5">{{ user.first_name }} {{ user.last_name }}</h2>
    {% include 'partials/_sidebar.html' %}
    <div class="events">
        <div class="row pb-3 mb-3 border-bottom">
            <div class="col-sm-1">ID</div>
            <div class="col-sm-8">Player</div>
            <div class="col-sm-3">Give Point</div>
        </div>
        {% for player in players %}
        {% with ''|center:player.category.round as range %}
        {% for _ in range %}
        <div class="row py-2">
            <div class="col-sm-1">{{ player.id }}</div>
            <div class="col-sm-8">{{ player }} (Round {{forloop.counter}})</div>
            <div class="col-sm-3">
                <a class="btn btn-outline-primary"
                    href="{% url 'judge:set_point' event.id player.id forloop.counter %}">Point</a>
            </div>
        </div>
        {% endfor %}
        {% endwith %}
        {% endfor %}
    </div>
</div>
{% endblock %}