{% extends "base.html" %}
{% load static %}

{% block main %}
<section id="contact">
    <div class="container px-2 py-3 p-sm-5 my-3">
        <div class="row">
            <div class="col-md-7">
                <h2 class="display-6">Contact Us</h2>
                <img class="img-fluid" src="{% static 'images/contact_us.svg' %}" alt="Contact">
            </div>
            <div class="col-md-5 pt-5">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input class="form-control px-3 py-2" type="text" id="id_name" name="name"
                            placeholder="Full Name" 
                            required {% if form.is_bound %} value="{{form.name.value}}" {% endif %}>
                    </div>
                    <div class="mb-3">
                        <input class="form-control px-3 py-2" type="email" id="id_email" name="email"
                            placeholder="Email Address"
                            required {% if form.is_bound %} value="{{form.email.value}}" {% endif %}>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control px-3 py-2" id="id_message" name="message" placeholder="Message..."
                            style="height:200px" required>{% if form.is_bound %} {{form.message.value}} {% endif %}</textarea>
                    </div>
                    <div>
                        <button class="btn btn-primary w-100 px-3 py-2" type="submit"> Submit &#8594; </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container px-2 py-3 p-sm-5 my-3">
        <div class="row">
            <div class="col-md-4">
                <h2 class="display-6">Find Us</h2>
                <div class="info">
                    <div class="info__address">
                        National Sports Council Building 
                        <br> 62/3 Purana Palton 
                        <br> Dhaka - 1000
                    </div>
                    <div class="info__mobile row py-2">
                        <div class="info__icon col-1 text-end"><i class="fal fa-mobile"></i></div>
                        <div class="info__details col-11">
                            <a href="tel:+8801711355720">+88 01711 355720</a></div>
                        <div class="info__icon col-1 text-end"><i class="fal fa-mobile"></i></div>
                        <div class="info__details col-11">
                            <a href="tel:+8801715301847">+88 01715 301847</a></div>
                    </div>
                    <div class="info__phone_personal row py-2">
                        <div class="info__icon col-1 text-end"><i class="fal fa-phone"></i></div>
                        <div class="info__details col-11">
                            <a href="tel:+88029586616">+88 02 9586616</a></div>
                    </div>
                    <div class="info__phone_office row py-2">
                        <div class="info__icon col-1 text-end"><i class="fal fa-phone-office"></i></div>
                        <div class="info__details col-11">
                            <a href="tel:+88029586617">+88 02 9586617</a></div>
                    </div>
                    <div class="info__mail row py-2">
                        <div class="info__icon col-1 text-end"><i class="fal fa-envelope"></i> </div>
                        <div class="info__details col-11">
                            <a href="mailto:bantkf@gmail.com">bantkf@gmail.com</a> 
                        </div>
                    </div>
                    <div class="info__facebook row py-2">
                        <div class="info__icon col-1 text-end"><i class="fab fa-facebook-f"></i></div>
                        <div class="info__details col-11">
                            <a href="https://www.facebook.com/bantkf/">facebook.com/bantkf</a>
                        </div>
                    </div>
                    <div class="info__website row py-2">
                        <div class="info__icon col-1 text-end"><i class="fal fa-globe-asia"></i></div>
                        <div class="info__details col-11"><a href="https://taekwondobd.com/">taekwondobd.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.4868866537813!2d90.4117844142965!3d23.73001099547337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b858f60f2b7b%3A0xe58debce85bf65e5!2sBangladesh%20Taekwondo%20Federation!5e0!3m2!1sen!2sbd!4v1616841603328!5m2!1sen!2sbd" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}