{% extends "dashboard.html" %}
{% load static %}

{% block main_content %}
<style>
    .event_banner_img {
        width: 90%;
    }
</style>
<div class="container py-5">
    {% for event in events %}
    <div class="event_banner_wrapper text-center p-2 p-sm-5">
        <a class="event_banner_link" href="{% url 'home:event_details' pk=event.id %}">
            <img class="event_banner_img" src="{{ event.event_banner.url }}" alt="{{ event }}">
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}