{% extends "base.html" %}
{% load static %}

{% block main %}
<section id="event">
    <div class="container py-5">
        <div class="row heading">
            <div class="col-lg-7 p-3">
                <div class="card">
                    <img class="img-fluid" src="{{ event.event_banner.url }}" alt="Main Image">
                </div>
            </div>
            <div class="col-lg-5 p-4 p-md-3">
                <div class="row h-100 px-3">
                    <div class="card h-100 p-3">
                        <div class="row py-3">
                            <div class="col-3 date_box">
                                <div class="text-center border-bottom">
                                    <h5 class="h5">{{ event.event_date|date:"F" }} {{ event.event_date.day }}</h5>
                                </div>
                                <div class="text-center">
                                    <h5 class="h5">{{ event.event_date.year }}</h5>
                                </div>
                            </div>
                            <div class="col-9 title_box">
                                <h2 class="display-6">{{ event.title }}</h2>
                            </div>
                        </div>
                        <h5 class="h5 py-1">
                            <i class="fal fa-calendar-times"></i>
                            <span>Registration Deadline: </span> {{ event.reg_deadline }}
                        </h5>
                        <h5 class="h5 py-1">
                            <i class="fa-light fa-location-dot"></i>
                            <span>Venue: </span> {{ event.venue }}
                        </h5>
                        <h5 class="h5 py-1">
                            <i class="fal fa-microphone"></i>
                            <span>Contact: </span> {{ event.contact }}
                        </h5>
                        <h5 class="h5 py-1">
                            <i class="fal fa-user"></i>
                            <span>Registered Players: </span> {{ total_players }}
                        </h5>
                        <h5 class="h5 py-1">
                            <i class="fa-light fa-address-card"></i>
                            <span>Registration: </span> {% if event.allow_reg %} Open {% else %} Closed {% endif %}
                        </h5>

                        <div class="btn_wrapper mt-auto">
                            <a 
                                class="btn btn-outline-primary {% if not event.allow_reg %} disabled {% endif %}" 
                                
                                {% if event.allow_reg %}
                                href="{% url 'home:apply' pk=event.id %}"
                                {% else %}
                                tabindex="-1"
                                role="button"
                                aria-disabled="true"
                                {% endif %}
                            >
                                Apply Here Now
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row options">

            <!-- MANAGE TEAM -->
            <div class="col-12 col-sm-6 col-lg-4 p-3">
                <div class="card p-3 h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">
                            Already Applied? 
                            <span>Apply</span> / <span>Manage</span> 
                            your team here
                        </h5>
                        <div class="row">
                            <div class="col-6 d-flex">
                                <div class="btn_wrapper mt-auto">
                                    <a 
                                        class="btn btn-primary {% if not event.allow_manage %} disabled {% endif %}" 
                                        
                                        {% if event.allow_manage %}
                                        href="{% url 'home:manage' pk=event.id %}"
                                        {% else %}
                                        tabindex="-1"
                                        role="button"
                                        aria-disabled="true"
                                        {% endif %}
                                    >
                                        Apply / Manage
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'images/manage.svg' %}" alt="Social Share">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MANAGE TEAM END -->


            <!-- OUTLINE DOWNLOAD -->
            <div class="col-12 col-sm-6 col-lg-4 p-3">
                <div class="card p-3 h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">
                            Full Game's <span>Outline</span> can be collected from here
                        </h5>
                        <div class="row">
                            <div class="col-6 d-flex">
                                <div class="btn_wrapper mt-auto">
                                    {% if event.outline %}
                                    <a href="{{ event.outline.url }}" class="btn btn-primary" download>Get Outline</a>
                                    {% else %}
                                    <a
                                        class="btn btn-primary disabled"
                                        tabindex="-1"
                                        role="button"
                                        aria-disabled="true"
                                    >
                                        Not Available
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'images/outline.svg' %}" alt="Social Share">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- OUTLINE DOWNLOAD END -->


            <!-- PARTICIPATED PLAYERS -->
            <div class="col-12 col-sm-6 col-lg-4 p-3">
                <div class="card p-3 h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Participated <span>Player List</span> can be found here</h5>
                        <div class="row">
                            <div class="col-6 d-flex">
                                <div class="btn_wrapper mt-auto">
                                    <a class="btn btn-primary" href="{% url 'home:teams' pk=event.id %}">
                                        Player List
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'images/teams.svg' %}" alt="Social Share">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PARTICIPATED PLAYERS END -->


            <!-- PARTICIPATED PLAYERS BY CATEGORY -->
            <div class="col-12 col-sm-6 col-lg-4 p-3">
                <div class="card p-3 h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">
                            Participated 
                            <span>Players</span>
                            by 
                            <span>Category</span>
                            can be found here
                        </h5>
                        <div class="row">
                            <div class="col-6 d-flex">
                                <div class="btn_wrapper mt-auto">
                                    <a class="btn btn-primary" href="{% url 'home:players' pk=event.id %}">
                                        Player by Category
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'images/players.svg' %}" alt="Social Share">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PARTICIPATED PLAYERS BY CATEGORY END -->


            <!-- RESULTS -->
            <div class="col-12 col-sm-6 col-lg-4 p-3">
                <div class="card p-3 h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">See <span>Results</span> here when the game ends</h5>
                        <div class="row">
                            <div class="col-6 d-flex">
                                <div class="btn_wrapper mt-auto">
                                    {% if event.completed %}
                                    <a
                                        class="btn btn-primary"
                                        href="{% url 'home:result_categories' event_id=event.id %}"
                                    >
                                        See Results
                                    </a>
                                    {% else %}
                                    <a 
                                        class="btn btn-primary disabled"
                                        tabindex="-1" 
                                        role="button" 
                                        aria-disabled="true"
                                    >
                                        Not Available
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'images/results.svg' %}" alt="Social Share">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- RESULTS END -->


            <!-- SOCIAL SHARE -->
            <div class="col-12 col-sm-6 col-lg-4 p-3">
                <div class="card p-3 h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Share this Event with your <span>Social</span> Friends</h5>
                        <div class="row">
                            <div class="col-6 d-flex flex-wrap align-items-end justify-content-between px-0">
                                
                                <div class="btn_wrapper text-center">
                                    <a class="btn btn-outline-primary"
                                        href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}{{ object.get_absolute_url }}"
                                        target="_blank">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </div>
                            
                                <div class="btn_wrapper text-center">
                                    <a class="btn btn-outline-primary"
                                        href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}{{ object.get_absolute_url }}"
                                        target="_blank">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </div>
                            
                                <div class="btn_wrapper text-center">
                                    <a class="btn btn-outline-primary"
                                        href="https://wa.me/+880?text={{ request.build_absolute_uri }}{{ object.get_absolute_url }}"
                                        target="_blank">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </a>
                                </div>

                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'images/social.svg' %}" alt="Social Share">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SOCIAL SHARE END -->

        </div>
    </div>
</section>
{% endblock %}
