{% extends "dashboard.html" %}
{% load static %}

{% block main_content %}
<div class="container py-5">
    Event Title: {{ event }} <br>
    <a class="btn btn-outline-primary" href="{% url 'home:apply' pk=event.id %}">Apply</a>
    <a class="btn btn-outline-primary" href="{% url 'home:manage' pk=event.id %}">Manage</a>
    <a class="btn btn-outline-primary" href="{% url 'home:teams' pk=event.id %}">Teams</a>
    <a class="btn btn-outline-primary" href="{% url 'home:players' pk=event.id %}">Players</a>
    <a class="btn btn-outline-primary" href="{% url 'home:result_categories' event_id=event.id %}">Results</a>
    <br /> <br />
    <!--
    {% if teamData %}
    Teams:
    <ul>
        {% for team, players in teamData.items %}
        <li>
            {{ team }} <br>
            {% if players %}
            Players:
            <ul>
                {% for player in players %}
                <li>{{ player }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    -->
</div>
{% endblock %}