{% extends "base.html" %}
{% load static %}

{% block main %}
<section id="events">
    <div class="row header container mx-auto py-5">
        <div class="col-md-6 header__left">
            <img class="img-fluid" src="{% static 'images/events.svg' %}" alt="Event List Hero Image">
        </div>
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center text-center header__right">
            <h4 class="display-4">Event List</h4>
            <p>Here are all events for you</p>
            <div class="mouse_scroll my-5">
                <div class="mouse">
                    <div class="wheel"></div>
                </div>
                <div>
                    <span class="m_scroll_arrows unu"></span>
                    <span class="m_scroll_arrows doi"></span>
                    <span class="m_scroll_arrows trei"></span>
                </div>
        </div>
        </div>
    </div>
    <div class="container event_list">
        {% for event in events %}
        <div class="event_banner_wrapper text-center p-2 px-sm-5 py-sm-4 mx-auto">
            <a class="event_banner_link" href="{% url 'home:event_details' pk=event.id %}">
                <img class="event_banner_img img-fluid" src="{{ event.event_banner.url }}" alt="{{ event }}">
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="paginator">
        {% if events.has_previous or events.has_next %}
        <ul class="pagination justify-content-center">
            {% if events.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ events.previous_page_number }}">Previous</a>
            </li>
            {% endif %}

            {% for num in events.paginator.page_range %}
            <li class="page-item">{% if events.number == num %}
                <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > events.number|add:'-3' and num < events.number|add:'3' %} <a class="page-link"
                    href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
            </li>


            {% endfor %}

            {% if events.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ events.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ events.paginator.num_pages }}">Last</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</section>

{% endblock %}