{% extends "dashboard.html" %}
{% load static %}

{% block main_content %}

<section id="manage">
    <div class="container">
        <h1 class="display-3 text-center py-5">Manage Members</h1>
    
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">ID No</th>
                        <th class="text-center">Image</th>
                        <th>Details</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody class="accordion" id="member_list">
                    {% for reg_member in reg_members %}
                    <tr class="player">
                        <td class="align-middle text-center">{{ reg_member.id }}</td>
                        <td class="member__pic text-center">
                            <img 
                                src="{{ reg_member.member.picture.url }}" 
                                alt="{{ reg_member.member.name|title }} Picture" 
                                class="img-fluid"
                            >
                        </td>
                        <td class="align-middle">
                            <p>
                                {{ reg_member.member.name|title }}
                            </p>
                            <p>
                                {{ reg_member.team.name|title }}
                            </p>
                            <p>
                                <span class="badge rounded-pill  bg-light text-dark px-3 py-2">
                                    {{ reg_member.category.name }}
                                </span>

                                <span class="badge rounded-pill  bg-light text-dark px-3 py-2">
                                    {{ reg_member.sub_category.title }}
                                </span>
                            </p>
                        </td>
                        <td class="text-center align-middle">
                            <div class="btn-group">
                                <a 
                                    href="#" 
                                    class="btn btn-outline-success view_link {% if not reg_member.submembers_count %}disabled{% endif %}" 
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapse{{ reg_member.id }}" 
                                    aria-expanded="false"
                                    aria-controls="flush-collapse{{ reg_member.id }}"
                                    {% if not reg_member.submembers_count %}
                                    tabindex="-1"
                                    role="button"
                                    aria-disabled="true"
                                    {% endif %}
                                >
                                    <i class="fa-light fa-diagram-subtask"></i> Sub
                                </a>
                                <a 
                                    href="{% url 'home:downloadID' event.id reg_member.id %}"
                                    class="btn btn-outline-primary"
                                    download="id__{{ player.id|stringformat:'04d' }}.jpg"
                                >
                                    <i class="fa-light fa-download"></i>
                                </a>
                                <a 
                                    href="{% url 'home:delete_member' event_id=event.id reg_member_id=reg_member.id %}"
                                    class="btn btn-outline-danger delete_link"
                                >
                                    <i class="fa-light fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>

                    {% if reg_member.submembers_count %}
                        <tr>
                            <td colspan="4">
                                {% include 'home/partials/_submembers.html' %}
                            </td>
                        </tr>
                    {% endif %}
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}