{% extends "dashboard.html" %}
{% load static %}

{% block main_content %}
<div class="container p-5">
    <form action="" method="post">
        {% csrf_token %}
        {% for player in players %}
        <input type="checkbox" id="player{{ player.id }}" name="player{{ player.id }}" value="{{ player.id }}">
        <label for="player{{ player.id }}">{{ player.name }}</label>
        <select name="player_cat{{ player.id }}" id="player_cat{{ player.id }}">
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select> <br><br>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

{% endblock %}