$color-primary: #6C63FF;
$color-secondary: #4ADEDE;
$color-tertiary: #1CA7EC;
$color-quaternary: #1f2f98;
$color-quinary: #F50057;

$color-text-primary: #222222;
$color-text-secondary: #666666;
$color-text-disabled: #bbbbbb;

// Bootstrap Colors
$color-danger: #dc3545;
$color-success: #198754;

$color-black: #000000;
$color-white: #ffffff;

$gradient-primary: linear-gradient(to right bottom, $color-quinary, $color-primary);
$gradient-secondary: linear-gradient(to right bottom, $color-primary, $color-quaternary);
