@-webkit-keyframes mouse-wheel{
    0% {
     opacity: 1;
     -webkit-transform: translateY(0);
     -ms-transform: translateY(0);
     transform: translateY(0);
   }
 
   100% {
     opacity: 0;
     -webkit-transform: translateY(6px);
     -ms-transform: translateY(6px);
     transform: translateY(6px);
   }
}
@-moz-keyframes mouse-wheel {
   0% { top: 1px; }
   25% { top: 2px; }
   50% { top: 3px;}
   75% { top: 2px;}
   100% { top: 1px;}
}
@-o-keyframes mouse-wheel {
    0% { top: 1px; }
   25% { top: 2px; }
   50% { top: 3px;}
   75% { top: 2px;}
   100% { top: 1px;}
}
@keyframes mouse-wheel {
 
    0% { top: 1px; }
   25% { top: 2px; }
   50% { top: 3px;}
   75% { top: 2px;}
   100% { top: 1px;}
}
@-webkit-keyframes mouse-scroll {
   0%   { opacity: 0;}
   50%  { opacity: .5;}
   100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {
   0%   { opacity: 0; }
   50%  { opacity: .5; }
   100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {
   0%   { opacity: 0; }
   50%  { opacity: .5; }
   100% { opacity: 1; }
}
@keyframes mouse-scroll {
   0%   { opacity: 0; }
   50%  { opacity: .5; }
   100% { opacity: 1; }
}